body {
    background-color: grey;
}

h1 {
    color: white;
    text-align: center;
    align-items: center;
    text-shadow: gray;
}

.cool {
    width: 100px;
    height: 100px;
    background-color: green;
    transition: background-color 2s;
}

.cool .red {
    background-color: pink;
}